.input-group-prepend{
    background-color: #efefef !important;
    border-radius: 2px 0px 0px 2px;
    padding: 8px 12px;
    border: #e2e2e2 solid 1px;
}

.p_text{
  margin: 0px;
    background-color: #cccc;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  .item-wraper{
    width: 150px;
    border: 1px solid #dcdcdc;
    padding: 5px;
    word-wrap: break-word;
    border-radius: 5px;
    margin: 5px 15px;
    box-shadow: 2px 2px 2px #afacac3d;
    cursor: pointer;
    min-height: 85px;
    display: table;
    background-size: cover !important;
  }
  input[type="radio"]:checked+label .p_text{     
    background: #00c853;
    color: #fff; 
  } 
  input[type="radio"]:checked+label .item-wraper{     
    border: 1px solid #00c853;
  } 
  .disabled{
    opacity: 0.5;
    pointer-events: none;
  }
  input[type="checkbox"]:checked+label .acc_title:before {
    font-family: FontAwesome;
    content: "\F00C";
    display: inline-block;
    padding: 1px 0px 0px 1px;
    vertical-align: middle;
    background-color: #6ec829;
    color: #fff;
    right: -7px;
    position: absolute;
    font-size: 13px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: -7px;
}
.input{
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0;
  border: 1px solid #fff;
  margin: 0px;
}
input[type="checkbox"]:checked+label div .input{
  display: block;
}
  
  .ProfilePic{
    height: 80px;
    width: 100px;
    background-size: cover !important;
    border: 1px solid #ccc;
    background-repeat: no-repeat !important;
    background-position: center !important;
    cursor: pointer;
    position: relative;
  }
  .acc_title{
    background-size: contain !important;
    border: 1px solid #f5284e;
    width: 72px;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    background-color: #f5284e;
    height: 80px;
    color: #fff;
    cursor: pointer;
    position: relative;
  }

  .input-border{
    border: 1px #ccc solid !important;
    border-left: auto !important;
    padding-left: 10px !important;
}


// PROGRESS
#progressbar {
  overflow: hidden;
  counter-reset: step;
  z-index: 1;
  width: 100%;
  padding: 0px;
  margin: 15px 0px;
}
#progressbar li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
}
#progressbar li.active:before, #progressbar li.active:after {
  background: #ee0979;
  color: white;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: #ccc;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  text-align: center;
}
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
