<div class="d-flex  loginbg min-height-100 h-100">
 
  <div class="img-border card card-body mb-0 rounded-0 pl-5 pr-5 pb-5 pt-3 m-auto col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="mb-1 ml-5" style="width: 204px;" alt="">
      </div>
      <p *ngIf="hasError" class="text-danger"> Invalid Username/Password</p>
      <p *ngIf="hasError1" class="text-danger"> Access denied. Please try again.</p>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['_username'].hasError('required') && form.controls['_username'].touched}">
        <label for="username" class="form-control-label">
          Enter your username
        </label>
        <input type="text" class="form-control" placeholder="username" [formControl]="form.controls['_username']" [ngClass]="{'form-control-danger': form.controls['_username'].hasError('required') && form.controls['_username'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['_username'].hasError('required') && form.controls['_username'].touched">Username is required.</div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['_password'].hasError('required') && form.controls['_password'].touched}">
        <label for="password" class="form-control-label">
          Enter your password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['_password']" [ngClass]="{'form-control-danger': form.controls['_password'].hasError('required') && form.controls['_password'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['_password'].hasError('required') && form.controls['_password'].touched">Password is required.</div>
        <!-- <a [routerLink]="['/authentication/forgot']" class="form-text"><small>Recover password</small></a> -->
      </fieldset>
    
      <div class="block"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
      <!-- <a class="btn btn-outline-primary btn-link" [routerLink]="['/authentication/signup']">Create an account!</a> -->
    </form>
  </div>
</div>