<div class="form-inline col-md-5">
    <input
      type='text'
      class="pull-left"
      style='padding: 5px; margin: 10px 15px 10px 0px; width: 56%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'
    />
    <select class="form-control pull-left mr-3"  (change)='statusFilter($event)'>
      <option value="Available">Available</option>
      <option value="reserved">Reserved</option>
      <option value="started">Started</option>
      <option value="archived">Archived</option>
    </select>
    <label class="mt-3 mb-3"> Tags <i class="fa fa-plus-square tagBtn" [ngbPopover]="popContent"  #p="ngbPopover" placement="right" ></i>
      <div class="tag">
        <a class="delete-tag icon-cross" ></a>
        <span >jkjk</span>
      </div>
      <div class="tag">
          <a class="delete-tag icon-cross" ></a>
          <span >jkjk</span>
        </div>
        <div class="tag">
            <a class="delete-tag icon-cross" ></a>
            <span >jkjk</span>
          </div>
    </label>
    
    <ng-template #popContent>
        <div class="form-inline">
          <div class="form-group col-sm-9">
            <label for="inputPassword2" class="sr-only">Add Tag</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary col-sm-3" (click)="p.close();">Add</button>
        </div>
    </ng-template>
  </div>

  <button class="btn btn-primary pull-right" (click)="addNewItem()">Add Stock Item</button>
              <ngx-datatable 
               *ngIf="trackableProduct"
                class="material"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="40"
                [rowHeight]="'auto'"
                [rows]="trackableProduct">
              
                <ngx-datatable-column name="Identifier" prop="stockId">
                  <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span
                      *ngIf="!editing[rowIndex + '-identifier']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      #stock
                      class="form-control"
                      *ngIf="editing[rowIndex + '-identifier']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" >
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                      <i class="fa fa-circle f12 {{value}}"  aria-hidden="true"></i> {{value}}
                  </ng-template>
                </ngx-datatable-column>
               
                <ngx-datatable-column name="Edit" >
                  <ng-template let-value="value"  let-rowIndex="rowIndex" let-row="row"  ngx-datatable-cell-template>
                      <span  class="fa fa-edit text-primary cursor-pointer" *ngIf="!editing[rowIndex + '-identifier']" (click)="rowEditMode(rowIndex,true)"></span>
                     <div class="row" *ngIf="editing[rowIndex + '-identifier']">
                      <button class="btn mr-1 cursor-pointer" (click)="rowEditMode(rowIndex,false)">Cancel</button>
                      <button class="btn btn-primary cursor-pointer" (click)="addStock(rowIndex ,row.id )">Save</button>
                    </div> 
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Delete" >
                  <ng-template let-value="value"  ngx-datatable-cell-template>
                    <button   (click)="deleteProject()" class="transparentbtn"><i class="fa fa-trash text-primary cursor-pointer"></i></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>