

<div class="form-inline col-md-12" >
    <!-- <input
      type='text'
      class="pull-left"
      style='padding: 5px; margin: 10px 15px 10px 0px; width: 24%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'
    />
    <select class="form-control pull-left mr-3"  (change)='statusFilter($event)'>
      <option value="Available">Available</option>
      <option value="reserved">Reserved</option>
      <option value="started">Started</option>
      <option value="archived">Archived</option>
    </select> -->

    <div class="pull-left mr-3 midle"  >
        <i class="material-icons text-success"> shopping_cart</i><span>TOTAL STOCK:<b>{{product.totalStock}}</b></span>
    </div>
    <div class=" pull-left mr-3 midle " >
        <i class="material-icons text-success">verified_user</i> <span>AVAILABLE STOCK:<b>{{product.availableStock}}</b></span>
    </div>
  </div>

  <button class="btn btn-primary pull-right mb-2" (click)="modalService.open(addStockModal)">Add Stock Item</button>
    <ngx-datatable 
      *ngIf="trackableProduct"
      #myTable
      class="material expandable border-table"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="40"
      [rowHeight]="'auto'"
      [rows]="product.trackableProduct">
      <ngx-datatable-column name="Identifier" prop="stockId">
        <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>
            {{value}}
          </span>
        
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="status">
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <i class="fa fa-circle f12 {{value}}"  aria-hidden="true"></i> {{value}}
        </ng-template>
      </ngx-datatable-column>
     
      <ngx-datatable-column name="Delete" >
        <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
          <button   (click)="updateProductPropertyValues(propertyUpdateModal, row)" class="transparentbtn"><i class="fa fa-edit text-primary cursor-pointer"></i> Edit Property</button>
          <button   (click)="deleteStock(row.id)" class="transparentbtn"><i class="fa fa-trash text-danger cursor-pointer"></i></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <ng-template #addStockModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Stock</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stockForm">
          <div class="form-group">
              <label for="">Enter Stock</label>
            <div class="input-group">
              <input type="number" formControlName="stock" class="form-control" #item>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="stockForm.invalid" class="btn btn-outline-dark" (click)="addNewItem(item);">Save</button>
      </div>
    </ng-template>


    

    <ng-template #propertyUpdateModal let-close="close" let-dis="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Properties</h4>
        <button type="button" class="close" aria-label="Close" (click)="close(propertyUpdateModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="propertyValueForm">
              <table class="table m-0" formArrayName="propertyValue" >
                <tr ><th>Property</th><th>Value</th></tr>
                <tr  *ngFor="let item of selectedRow.propertyValues; let i=index ">
                    <td>{{item.productProperties.propertyKey}}</td>
                    <td [formGroupName]="i">
                      <input type="input" formControlName="id" hidden class="editMode" />
                      <input type="input" formControlName="value" class=""/>
                    </td>
                </tr>
              </table>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="propertyValueForm.invalid" class="btn btn-outline-dark" (click)="updatePropertyValue(propertyUpdateModal);">Update</button>
      </div>
    </ng-template>