<div class="form-inline col-md-5">
    <input
      type='text'
      class="pull-left"
      style='padding: 5px; margin: 10px 15px 10px 0px; width: 56%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'
    />
    <select class="form-control pull-left mr-3"  (change)='statusFilter($event)'>
      <option value="Available">Available</option>
      <option value="reserved">Reserved</option>
      <option value="started">Started</option>
      <option value="archived">Archived</option>
    </select>
    <label class="mt-3 mb-3"> Tags <i class="fa fa-plus-square tagBtn" [ngbPopover]="popContent"  #p="ngbPopover" placement="right" ></i>
      <div class="tag" *ngFor="let prop of product.productProperties">
        <a class="delete-tag icon-cross" (click)="deleteProp(prop.id)"></a>
        <span >{{prop.propertyKey}}</span>
      </div>
      
    </label>
    
    <ng-template #popContent>
        <div class="form-inline">
          <div class="form-group col-sm-9">
            <label for="inputPassword2" class="sr-only">Add Tag</label>
            <input type="text" class="form-control" #tag id="inputPassword2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary col-sm-3" (click)="p.close(); addProp(tag);">Add</button>
        </div>
    </ng-template>
  </div>

  <button class="btn btn-primary pull-right" (click)="modalService.open(addStockModal)">Add Stock Item</button>
    <ngx-datatable 
      *ngIf="trackableProduct"
      class="material"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="40"
      [rowHeight]="'auto'"
      [rows]="trackableProduct">
    
      <ngx-datatable-column name="Identifier" prop="stockId">
        <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>
            {{value}}
          </span>
        
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" >
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <i class="fa fa-circle f12 {{value}}"  aria-hidden="true"></i> {{value}}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column *ngFor="let prop of product.productProperties" name="{{prop.propertyKey}}" prop="{{prop.propertyKey}}" >
        <ng-template let-value="value"  let-rowIndex="rowIndex" let-row="row"  ngx-datatable-cell-template>
          <div class="tag" >
            <span >{{value}}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Delete" >
        <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
          <button   (click)="deleteStock(row.id)" class="transparentbtn"><i class="fa fa-trash text-primary cursor-pointer"></i></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <ng-template #addStockModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Stock</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stockForm">
          <div class="form-group">
            <div class="input-group">
              <input type="number" formControlName="stock" class="form-control" #item>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="stockForm.invalid" class="btn btn-outline-dark" (click)="c('Save click');addNewItem(item);">Save</button>
      </div>
    </ng-template>