.comp-logo{
    width: 156px;
    height: 156px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border: #ccc solid 1px;
    border-radius: 7px;
}

.ic-btn{
    position: absolute;
    font-size: 17px;
    bottom: 3px;
    right: -10px;
    display: none;
    cursor: pointer;
}

.comp-name:hover .ic-btn{
    display: block;
}

.round-input{
    border: #ccc solid 1px !important;
    background: #fff;
    border-radius: 10px;
    padding-left: 5px;
}
.save_btn{
    position: absolute;
    right: -25px;
    top: 5px;
}