<div class="container">  
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3">
          <div class="card-header p-0 pb-2 d-block">
            <div class="d-flex pull-left "><i class="material-icons">person_add</i> <p class="m-0 pl-1" *ngIf="!editMode"> New Category</p><p class="m-0 pl-1" *ngIf="editMode"> Update Category</p></div>
              <div class="pull-right d-flex">
                <i class="material-icons">
                  keyboard_backspace
                  </i>
                  <p class="m-0 pl-1 text-link" routerLink="/accessories">Backto list</p>
              </div>
          </div>
          <div class="card-body  p-0 pt-2 pb-2"> 
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            <form [formGroup]="accessoriesForm">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <fieldset>
                      <div class="form-group">
                        <label for="disabledTextInput">Category Name</label>
                        <input type="text" formControlName="categoryName" class="form-control" >
                      </div>
      
                      <div class="form-group">
                        <label for="disabledSelect">Category Description </label>
                        <textarea type="text" formControlName="description" class="form-control"></textarea>
                      </div>
                      
                      
                      <button type="submit" class="btn btn-primary" [disabled]="!accessoriesForm.valid" (click)="addCategory()"> Submit</button>
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    