
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <button type="button" class="btn btn-primary pull-right btn-round" routerLink="new-product">
          <i class="material-icons">note_add</i>
        </button>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">business_center</i> 
            <p class="m-0"> Product List</p>
          </div>
          <div class="card-body p-0">
              <ngx-datatable 
                class="material "
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="40"
                [rowHeight]="'auto'"
                [rows]="productList">
                <ngx-datatable-column name="Name" prop="productName">
                  <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Description">
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Category" prop="category">
                    <ng-template let-value="value" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                      {{value.categoryName}}
                    </ng-template>
                  </ngx-datatable-column>
                <ngx-datatable-column name="Action"  [width]="100" >
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                    <span  class="fa fa-edit text-primary icon-btn cursor-pointer" (click)="editProduct(row.id)"></span>
                    <!-- <button   (click)="deleteProject()" class="transparentbtn"><i class="fa fa-trash text-primary icon-btn cursor-pointer"></i></button> -->
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>