<div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3">
          <div class="card-header p-0 pb-2">
              <i class="material-icons">person_add</i><p class="m-0 pl-1">New Product</p>
          </div>
          <div class="card-body  p-0 pt-2 pb-2"> 
            <div class="alert d-table w-40" *ngIf="error.show" [ngClass]="{'alert-danger':error.status=='danger' , 'alert-success':error.status=='success'}"
              role="alert">
              <i class="fa fa-check-circle d-table-cell" style="font-size: 30px;  width: 31px;" aria-hidden="true"></i>
              <span class=" d-table-cell pl-1" style=" vertical-align: middle;"> {{error.text}}</span>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            <form [formGroup]="product">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <fieldset>
                      <div class="form-group">
                        <label for="disabledTextInput">Product Name</label>
                        <input type="text" formControlName="productName" class="form-control" >
                      </div>
                      <div class="form-group">
                        <label for="disabledSelect">Product Description </label>
                        <textarea type="text" formControlName="description" class="form-control"></textarea>
                      </div>
                      <div class="form-row align-items-center">
                        <div class="form-group mr-4">
                          <label for="disabledSelect">Category </label>
                          <select class="form-control" formControlName="categoryId">
                            <option *ngFor="let item of cat_list" [value]="item.id">{{item.categoryName}}</option>
                          </select>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" [disabled]="!product.valid" (click)="addProduct()"> Submit</button>
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-4">
                      <div class="img_wraper">
                        <label class="">Product Image</label>
                        <label for="file" class="img-hover">
                          <div class="img-prop" *ngIf="image" [ngStyle]="{'background': 'url('+image+')'  }"></div>
                          <div class="img-prop" *ngIf="!image" [ngStyle]="{'background': 'url(../assets/images/placeholder.png)'  }"></div>
                        </label>
                      </div>
                      <input type="file" accept="image/*" (change)="onSelectImage($event)" name="file" class="form-control" hidden id="file">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    