<form [formGroup]="product">
  <div class="card" >
    <div class="row">
      <div class="col-md-8">
        <div class="card-header">
          New Product
        </div>
        <div class="card-body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
            <fieldset >
              <div class="form-group">
                <label for="disabledTextInput">Project Name</label>
                <input type="text" formControlName="project_name"  class="form-control" placeholder="Project Name">
              </div>
              <div class="form-group">
                <label for="disabledSelect">Project Description </label>
                <textarea type="text" formControlName="project_description"  class="form-control" placeholder="Project Description"></textarea>
              </div>
              <div class="form-row align-items-center">
                <div class="form-group mr-4">
                  <label for="disabledSelect">Category </label>
                  <select class="form-control" formControlName="project_cat">
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                    <option>Project 4</option>
                  </select>
                  
                </div>
                <div class="form-group">
                  <label for="disabledSelect">Branch </label>
                  <select class="form-control" formControlName="project_branch">
                    <option>Group 1</option>
                    <option>Group 2</option>
                    <option>Group 3</option>
                    <option>Group 4</option>
                  </select>
                </div>
              </div>
              <div class="form-row align-items-center">
                <div class="form-group mr-4">
                  <label >Pricing method </label>
                  <div class="panel" >
                      <label for="simple" class="radio-btn selected" [ngClass]="{'selected' : product.value.payment == 'simple' }" >
                        Simple
                      </label>
                      <label for="other" class="radio-btn " [ngClass]="{'selected' : product.value.payment == 'other' }">
                        Others 
                      </label>
                      <input type="radio"  id="simple"  formControlName="payment"  name="payment"    value="simple" hidden  />
                      <input type="radio" id="other" formControlName="payment"   name="payment"  value="other"  hidden />
                  </div>
                </div>
                <div class="form-group mr-3" *ngIf="product.value.payment == 'simple'">
                  <label for="disabledSelect">Price </label>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="text" class="form-control customWidth" id="inlineFormInputGroup" formControlName="project_price" placeholder="Price">
                    
                  </div>
                </div>
                <div class="form-group mr-3" *ngIf="product.value.payment != 'simple'">
                  <label for="disabledSelect" class="mt-4">You can set up advanced pricing later. </label>
                  
                </div>
                <small class="text-danger" *ngIf="productPrice.errors && productPrice.touched && product.value.payment == 'simple'">Please enter the project price</small>
              </div>
              <div class="form-row align-items-center">
                <label for="radio_1" class="custom_radio_btn mr-4" [ngClass]="{'selected' : product.value.tack_type == 'individual'}">
                  <input type="radio" id="radio_1" formControlName="tack_type" value="individual"  name="tack_type">
                  <div class="col-md-8 pl-4 pt-4">
                    <h6>Track individual items</h6>
                    <p>Keep track of individual items by using identifiers, like serial numbers.</p>
                  </div>
                  <div class="form-group input-groups pt-4" *ngIf="product.value.tack_type == 'individual' ">
                    <label for="exampleInputEmail1">Quantity to add:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"  formControlName="quantity" aria-describedby="emailHelp" placeholder="Quantity">
                  </div>
                </label>
                <label for="radio_2" class="custom_radio_btn" [ngClass]="{'selected' : product.value.tack_type == 'bulk' }">
                  <input type="radio" id="radio_2" name="tack_type" formControlName="tack_type" value="bulk" >
                  <div class="col-md-8 pl-4 pt-4">
                    <h6>Bulk</h6>
                    <p> Don't serialize stock items to easily handle a large number of items.</p>
                  </div>
                  <div class="form-group input-groups pt-4" *ngIf="product.value.tack_type == 'bulk' ">
                    <label for="exampleInputEmail1">Quantity to add:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="quantity" aria-describedby="emailHelp" placeholder="Quantity">
                  </div>
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          
        </div>
      </div>
      <div class="col-md-4">
        <label class="center-div" for="file">
            <div class="wraper_upload">
              <i class="fa fa-upload" aria-hidden="true"></i>
            </div>
            <button class="btn btn-default">Upload Product image</button>
        </label>
        <input type="file" formControlName="files" hidden id="file" (change)="onSelectImage($event)" />
          <img [src] ="image" width="30px" height="50px">
      </div>
    </div>
 
</div>
</form>

{{product.value | json}}