<div class="row"  >
    <div class="col card">
      <h4>TOTAL STOCK:</h4>
      <p class="count">{{total_stock}}</p>
    </div>
    <div class="col card">
      <h4>ADD STOCK:</h4>
      <p class="count d-flex mt-4"><input type="number" class="form-control" #addStocks /><i class="fa fa-plus text-success" (click)="addStock(addStocks)" aria-hidden="true"></i></p>
    </div>
    <div class="col card">
      <h4>REMOVE STOCK:</h4>
      <p class="count d-flex mt-4"><input type="number" class="form-control" #minusStock /><i class="fa fa-minus text-danger" (click)="removeStock(minusStock)" aria-hidden="true"></i></p>
    </div>
  </div>

