<div class="card" >
  <div class="row">
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab title="All">
          <ng-template ngbTabContent>
            <div class="form-inline col-md-12">
              <select class="form-control pull-left mr-3"  (change)='statusFilter($event)'>
                <option value="Available">All</option>
                <option value="reserved">Today</option>
                <option value="started">Tommorow</option>
                <option value="archived">Next Week</option>
              </select>
              <select class="form-control pull-left mr-3"  (change)='statusFilter($event)'>
                <option value="Available">Available</option>
                <option value="reserved">Reserved</option>
                <option value="started">Started</option>
                <option value="archived">Archived</option>
              </select>
              <i class="fa fa-file-excel-o tagBtn float-right" aria-hidden="true"></i>
            </div>
              <button class="btn btn-primary pull-right" (click)="addNewItem()">Add new order</button>
              <ngx-datatable 
                class="material"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="40"
                [rowHeight]="'auto'"
                [rows]="rows">
              
                <ngx-datatable-column name="id" prop="id">
                  <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Customer" prop="Customer">
                  <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Status" >
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Pick up"   prop="pickup" >
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Return"  >
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Price"  >
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Edit" >
                  <ng-template let-value="value"  let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                      <span  class="fa fa-edit text-primary cursor-pointer" *ngIf="!editing[rowIndex + '-identifier']" (click)="rowEditMode(rowIndex,true)"></span>
                     <div class="row" *ngIf="editing[rowIndex + '-identifier']">
                      <button class="btn mr-1 cursor-pointer" (click)="rowEditMode(rowIndex,false)">Cancel</button>
                      <button class="btn btn-primary cursor-pointer" (click)="updateValue(rowIndex )">Save</button>
                    </div> 
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Delete" >
                  <ng-template let-value="value"  ngx-datatable-cell-template>
                    <button   (click)="deleteProject()" class="transparentbtn"><i class="fa fa-trash text-primary cursor-pointer"></i></button>
                  </ng-template> 
                </ngx-datatable-column>-->
              </ngx-datatable>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>Upcoming</ng-template>
          <ng-template ngbTabContent>
            
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>Overdue</ng-template>
          <ng-template ngbTabContent>
            
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
   </div>
  </div>
</div>