<div class="row">
  <div class="container">
    <div class="col-md-12">
        <div class="card mt-2" *ngIf="orderDetails">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" width="300"></th>
                  <th scope="col">Available </th>
                  <th scope="col">Quantity</th>
        
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{orderDetails.product.productName}}</th>
                  <td>
                    <span class="tag bg-success">
                      {{orderDetails.status}}</span>
                  </td>
                  <td>
                    <p></p>
                  </td>
        
                  <td>₹{{orderDetails.actualAmount}}</td>
                </tr>
                <tr *ngFor="let acc of orderDetails.orderAccessories">
                  <th>{{acc.accessories.accessoryName}}</th>
                  <td>
                  </td>
                  <td>
                    {{acc.quantity}}
                  </td>
        
                  <td>₹{{acc.totalPrice}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col align-self-end">
                <div class="d-block text-right p-2">
                  <b>Total Amount : </b> ₹{{orderDetails.totalAmount}}
                </div>
                <div class="d-block  text-right p-2">
                  <b>Total {{orderDetails.taxType}}. taxes : </b> ₹{{orderDetails.taxAmount}}
                </div>
                <div class="d-block  text-right p-2">
                  <b>Total {{orderDetails.taxType}}. taxes percentage : </b> ₹{{orderDetails.taxPercent}}
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>