<div class="row">
  <div class="col-md-12">
    <div class="card p-3">  
      <form>

        <div class="form-group">
          <label for="exampleInputEmail1">Category Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="categoryName" aria-describedby="emailHelp" >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputemail">Category Description</label>
          <textarea type="text" class="form-control" formControlName="categoryName" id="exampleInputemail" > </textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputcontact">Customer contact</label>
          <input type="text" class="form-control" id="exampleInputcontact">
        </div>

       
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>