<div class="row">
    <div class="col-md-12">
      <div class="card p-3">  
        <form>
  
          <div class="form-group">
            <label for="exampleInputEmail1">Customer Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
  
          <div class="form-group">
            <label for="exampleInputemail">Customer email</label>
            <input type="text" class="form-control" id="exampleInputemail" >
          </div>
  
          <div class="form-group">
            <label for="exampleInputcontact">Customer contact</label>
            <input type="text" class="form-control" id="exampleInputcontact">
          </div>
  
          <div class="form-group">
            <label for="exampleInputadd">Customer Address</label>
            <textarea type="text" class="form-control" id="exampleInputadd"></textarea>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>