<div class="container">  
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3">
          <div class="card-header p-0 pb-2">
              <i class="material-icons">group_add</i><p class="m-0 pl-1" *ngIf="!editMode"> New Branch</p><p class="m-0 pl-1" *ngIf="editMode"> Update Branch</p>
          </div>
          <div class="card-body  p-0 pt-2 pb-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                
            <form class="col-md-6" [formGroup]="branch">
                

                <fieldset >
                  <div class="form-row align-items-center">
                    <div class="form-group mr-4">
                      <label for="disabledSelect">Branch Code </label>
                      <input type="number" formControlName="branchCode"  class="form-control" >
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="disabledTextInput">Branch Name</label>
                    <input type="text" formControlName="branchName"  class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="disabledSelect">Branch Description </label>
                    <textarea type="text" formControlName="branchDescription"  class="form-control" ></textarea>
                  </div>

                  <div class="form-group">
                    <label for="disabledSelect"> Address </label>
                    <textarea type="text" formControlName="address"  class="form-control" ></textarea>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="disabledSelect"> latitude </label>
                        <input type="number" formControlName="latitude"  class="form-control"  />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="disabledSelect"> longitude </label>
                        <input type="number" formControlName="longitude"  class="form-control"  />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="disabledSelect"> Tax Type </label>
                    <select  class="form-control" formControlName="taxType">
                      <option value="incl">Inclusive TAX</option>
                      <option value="excl">Exclusive TAX</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="disabledSelect"> Tax Percent </label>
                    <input type="number" formControlName="taxPercent"  class="form-control" value="0" />
                  </div>
                
                  <button type="submit" [disabled]="!branch.valid" class="btn btn-primary" (click)="saveBranch()">Submit</button>
                </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    