<div class="row">
  <div class="col-md-12">
   <button type="button" class="btn btn-primary pull-right mb-2" (click)="addNewProject=!addNewProject">
     <span *ngIf="!addNewProject">+ New Project</span>
     <span *ngIf="addNewProject">Back</span>
    </button>
  </div>
</div>
<div *ngIf="!addNewProject">
<ngx-datatable 
        class="material"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [rowHeight]="'auto'"
        [rows]="rows">
        <ngx-datatable-column name="Project name" prop="project">
          <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span
              *ngIf="!    ">
              {{value}}
            </span>

            <input
              class="form-control"
              autofocus
              *ngIf="editing[rowIndex  + '-project']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Description" >
          <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <span
              *ngIf="!editing[rowIndex + '-description']">
              {{value}}
            </span>
            <input
              autofocus
              class="form-control"
              *ngIf="editing[rowIndex + '-description']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="branch" >
          <ng-template let-value="value" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
              <span
              *ngIf="!editing[rowIndex + '-branch']">
              {{value}}
            </span>
            <select
                autofocus
                class="form-control"
                *ngIf="editing[rowIndex + '-branch']"
                type="text"
                [value]="value"
              >
              <option value="Corepan">Branch 1</option>
              <option>Branch 2</option>
              <option>Branch 3</option>
              <option>Branch 4</option>
            </select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created">
          <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span
              *ngIf="!editing[rowIndex + '-created']">
              {{value}}
            </span>
            <input
              autofocus
              class="form-control"
              *ngIf="editing[rowIndex + '-created']"
              type="text"
              [value]="value"
              #input
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Edit" >
          <ng-template let-value="value"  let-rowIndex="rowIndex"  ngx-datatable-cell-template>
            <span  class="fa fa-edit text-primary cursor-pointer" *ngIf="!editing[rowIndex + '-project']" (click)="rowEditMode(rowIndex,true)"></span>
            <div class="row" *ngIf="editing[rowIndex + '-project']">
              <button class="btn mr-1 cursor-pointer" (click)="rowEditMode(rowIndex,false)">Cancel</button>
              <button class="btn btn-primary cursor-pointer" (click)="updateValue(rowIndex , input )">Save</button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Delete" >
          <ng-template let-value="value"  ngx-datatable-cell-template>
            <button   (click)="deleteProject()" class="transparentbtn"><i class="fa fa-trash text-primary cursor-pointer"></i></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
      <div class="card" *ngIf="addNewProject">
        <div class="card-header">
          New Project
        </div>
        <div class="card-body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
          <form>
            <fieldset >
              <div class="form-group">
                <label for="disabledTextInput">Project Name</label>
                <input type="text"  class="form-control" placeholder="Project Name">
              </div>
              <div class="form-group">
                <label for="disabledSelect">Project Description </label>
                <textarea type="text"  class="form-control" placeholder="Project Description"></textarea>
              </div>
              <div class="form-group">
                <label for="disabledSelect">Category </label>
                <select class="form-control">
                  <option>Project 1</option>
                  <option>Project 2</option>
                  <option>Project 3</option>
                  <option>Project 4</option>
                </select>
              </div>
              <div class="form-group">
                <label for="disabledSelect">Branch </label>
                <select class="form-control">
                  <option>Group 1</option>
                  <option>Group 2</option>
                  <option>Group 3</option>
                  <option>Group 4</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
