<div class="row">
  <div class="col-md-12">
   <button type="button" class="btn btn-primary pull-right mb-2" (click)="addNewProject=!addNewProject">
     <span *ngIf="!addNewProject">+ New Project</span>
     <span *ngIf="addNewProject">Back</span>
    </button>
  </div>
</div>
<div *ngIf="!addNewProject">
<ngx-datatable 
        class="material"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [rowHeight]="'auto'"
        [rows]="rows">
        <ngx-datatable-column name="Project name" prop="project">
          <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span
              *ngIf="!editing[rowIndex  + '-project']">
              {{value}}
            </span>

            <input
              autofocus
              *ngIf="editing[rowIndex  + '-project']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Description" >
          <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <span
              *ngIf="!editing[rowIndex + '-description']">
              {{value}}
            </span>
            <input
              autofocus
              *ngIf="editing[rowIndex + '-description']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="branch" >
          <ng-template let-value="value" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
              <span
              *ngIf="!editing[rowIndex + '-branch']">
              {{value}}
            </span>
            <input
              autofocus
              *ngIf="editing[rowIndex + '-branch']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created">
          <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span
              *ngIf="!editing[rowIndex + '-created']">
              {{value}}
            </span>
            <input
              autofocus
              *ngIf="editing[rowIndex + '-created']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Edit" >
          <ng-template let-value="value"  let-rowIndex="rowIndex"  ngx-datatable-cell-template>
            <span  class="fa fa-edit text-primary cursor-pointer" *ngIf="!editing[rowIndex + '-project']" (click)="rowEditMode(rowIndex,true)"></span>
            <div class="row" *ngIf="editing[rowIndex + '-project']">
              <button class="btn mr-1 cursor-pointer" (click)="rowEditMode(rowIndex,false)">Cancel</button>
              <button class="btn btn-primary cursor-pointer" (click)="updateValue(rowIndex )">Save</button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Delete" >
          <ng-template let-value="value"  ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
      <div class="card" *ngIf="addNewProject">
        <div class="card-header">
          New Project
        </div>
        <div class="card-body">
          <p>Add the <code class="highlighter-rouge">disabled</code> boolean attribute on an input to prevent user interactions. Disabled inputs appear lighter and add a <code class="highlighter-rouge">not-allowed</code> cursor.</p>
          <form>
            <fieldset disabled>
              <div class="form-group">
                <label for="disabledTextInput">Disabled input</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
              </div>
              <div class="form-group">
                <label for="disabledSelect">Disabled select menu</label>
                <select id="disabledSelect" class="form-control">
                  <option>Disabled select</option>
                </select>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Can't check this
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>