.app, .app-innner{
  font-family: 'Roboto', sans-serif !important;
}
.configuration {
  width: 240px;
  position: fixed;
  right: 0;
  top: 150px;
  margin-left: 0;
  z-index: 99999999;
  transition: transform .3s ease-in-out;
  transform: translate(100%, 0);
  .card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 0;
  }
}
.configuration.active {
  transform: translate(0, 0);
}
.configuration-cog {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  i:before {
    line-height: 50px;
  }
}

.navigation-item.open{
  background-color: #2f2f2f;
}


.logo{
  background: url(/assets/images/logo.png) no-repeat center;
  height: 56px;
  background-size: 87%;
  background-position: center;
  width: 100%;
}

.mat-wraper{
  background: url(/assets/images/mat2.jpg) no-repeat center;
  height: 148px;
  background-size: cover;
  background-position: center;
  width: 100%;
  .ProfilePic{
    background: url(/assets/images/face4.jpg) no-repeat center;
    height: 97px;
    width: 97px;
    border-radius: 50%;
    background-size: contain;
    margin: 10px auto;
  }
  .profile_name{
    text-align: center;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.23);
  }
}

.main-brand{
  background-color: #fff;
  flex-direction: column;
  padding: 0px;
}