<div class="card m-0" *ngIf="product">
  <div class="row">
    <div class="alert d-table w-40" *ngIf="error.show" [ngClass]="{'alert-danger':error.status=='danger' , 'alert-success':error.status=='success'}"   role="alert">
      <i class="fa fa-check-circle d-table-cell" style="font-size: 30px;  width: 31px;" aria-hidden="true"></i> <span class=" d-table-cell pl-1" style=" vertical-align: middle;"> {{error.text}}</span>
    </div>
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab title="Inventory">
          <ng-template ngbTabContent>
            <h6>{{product.productName}}</h6>
            <app-edit-bulk *ngIf="product.productType=='bulk'" [product]="product"></app-edit-bulk>
            <app-edit-track *ngIf="product.productType=='track'" ></app-edit-track>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Setting</ng-template>
          <ng-template ngbTabContent>
            <form class="p-3" [formGroup]="settingForm">
              <div class="row">
                <div class="col-md-6">
                    <fieldset >
                      <div class="form-group">
                        <label for="disabledTextInput">Product Name</label>
                        <input type="text" formControlName="productName"  class="form-control" placeholder="Product Name">
                      </div>
                      <div class="form-group">
                        <label for="disabledSelect">Product Description </label>
                        <textarea type="text" formControlName="description"  class="form-control" placeholder="Product Description"></textarea>
                      </div>
                      <div class="form-row align-items-center">
                        <div class="form-group mr-4">
                          <label for="disabledSelect">Category </label>
                          <select class="form-control" formControlName="categoryId">
                            <option *ngFor="let item of cat_list" [value]="item.id">{{item.categoryName}}</option>
                          </select>
                          
                        </div>
                        <div class="form-group">
                          <label for="disabledSelect">Branch </label>
                          <select class="form-control" formControlName="branchId">
                            <option *ngFor="let item of branch_list" [value]="  item.id">{{item.branchName}}</option>
                          </select>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" [disabled]="!settingForm.valid" (click)="updateProduct()"> Submit</button>
                    </fieldset>
                  
                </div>
                <div class="col-md-4">
                  <div class="img_wraper ml-2">
                    <label >Product Image</label>
                    <label for="file" class="img-hover">
                      <div class="img-prop" *ngIf="image"  [ngStyle]="{'background': 'url('+image+')'  }"></div>
                      <div class="img-prop" *ngIf="!image"  [ngStyle]="{'background': 'url(../assets/images/placeholder.png)'  }"></div>
                    </label>
                  </div>
                  <input type="file" accept="image/*" (change)="onSelectImage($event)"  name="file" class="form-control"  id="file">
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Pricing</ng-template>
          <ng-template ngbTabContent>
          <form [formGroup]="pricingForm">
            <div class="row">
              <div class="d-flex flex-column col-md-4">
                <label for="basic-url">Price/hour</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">$</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Price/hour" formControlName="perHour" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <label for="basic-url">Price/day</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">$</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Price/day" formControlName="perDay" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!pricingForm.valid" (click)="updatePrice()"> Submit</button>
              </div>
              <div class="d-flex flex-column col-md-4">
                  
              </div>
            </div>
          </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Calendar</ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="d-flex flex-column col-md-12">
                    <div class="row text-center">
                        <div class="col-md-4">
                          <div class="btn-group">
                            <div
                              class="btn btn-primary"
                              mwlCalendarPreviousView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="activeDayIsOpen = false">
                              Previous
                            </div>
                            <div
                              class="btn btn-outline-secondary"
                              mwlCalendarToday
                              [(viewDate)]="viewDate">
                              Today
                            </div>
                            <div
                              class="btn btn-primary"
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="activeDayIsOpen = false">
                              Next
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <h3>{{ viewDate | date }}</h3>
                        </div>
                        <div class="col-md-4">
                          
                        </div>
                      </div>
                      
                      
                      <ng-template #customCellTemplate let-day="day" let-locale="locale">
                        <div class="cal-cell-top">
                          <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
                          <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                        </div>
                        <small style="margin: 5px" *ngIf="day.events.length>0" >Price/Day :  ${{ day.events[0].title.split('|')[0] }}</small>
                        <small style="margin: 5px" *ngIf="day.events.length>0" >Price/Hour :  ${{ day.events[0].title.split('|')[1] }}</small>
                      </ng-template>
                      
                      <div [ngSwitch]="view">
                        <mwl-calendar-month-view
                          *ngSwitchCase="'month'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [refresh]="refresh"
                          [activeDayIsOpen]="activeDayIsOpen"
                          (dayClicked)="dayClicked($event.day)"
                          (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)"
                          [cellTemplate]="customCellTemplate">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view
                          *ngSwitchCase="'week'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [refresh]="refresh"
                          (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view
                          *ngSwitchCase="'day'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [refresh]="refresh"
                          (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                      </div>
                      
                      
                      
                      
                      <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-basic-title">Book by day</h6>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{ bookprice.value | json}}
                          <form [formGroup]="bookprice">
                            <small class="text-info">Booking Price on : {{bookprice.get('day').value | date}}</small>
                               
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-append">
                                  <label for="basic-url">Price/day</label>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                      </div>
                                      <input type="number" class="form-control" placeholder="Price/hour" formControlName="price_day" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                      
                      
                                  <label for="basic-url">Price/hour</label>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                      </div>
                                      <input type="number" class="form-control" placeholder="Price/hour" formControlName="price_hour"  aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                      
                                  <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                                    <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="bookSlot() ; c('Save click')">Save</button>
                        </div>
                      </ng-template>
                       
                 
                </div>
              </div>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
   </div>
  </div>
</div>