.card .tab-pane{
    padding: 30px;
}


.list-btn{
    background-color: #4a90e2;
    width: 100%;
    height: 100%;
    color: #fff;
}
.input-group-prepend{
    background-color: #efefef !important;
    border-radius: 2px 0px 0px 2px;
    padding: 8px 12px;
    border: #e2e2e2 solid 1px;
}