@import "scss/mixins/material-palette";
@import "scss/mixins/skinning";
@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/font-awesome/css/font-awesome.css";
@import "scss/theming";
@import "scss/custom-bootstrap";
@import "scss/core";
@import "../../../node_modules/angular-calendar/scss/angular-calendar.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


$btn_primary:#f91942;

body{
    font-family: 'Roboto', sans-serif !important;
}
.transparentbtn{
    border: none;
    border-radius: 0px;
    background-color: transparent;
}
.cursor-pointer{
    cursor: pointer;
}

input[type="text"].ng-touched.ng-invalid,input[type="password"].ng-touched.ng-invalid,input[type="number"].ng-touched.ng-invalid,input[type="email"].ng-touched.ng-invalid  , select.ng-touched.ng-invalid , textarea.ng-touched.ng-invalid{
    border: #ffabab solid 1px;
}

.tab-content{
    padding: 10px;
}

.theme-light .card .nav-tabs .nav-link.active, .theme-light .card .nav-tabs .nav-item.show .nav-link{
    border: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-bottom: #304ffe solid 2px !important;
}


.tagBtn{
    background-color: #ffffff;
    color: $btn_primary;
    font-size: 20px;
    margin-left: 3px;
}

.tag {
    white-space: nowrap;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    cursor: default;
    background: #657780;
    border-radius: 3px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 9px;
    margin-right: 4px;
    margin-bottom: 2px;
    float: left;
    margin-left: 10px;
}

.tag .delete-tag{
    float: right;
    font-size: 13px;
    margin-top: -1px;
    margin-left: 4px;
    margin-right: -4px;
}

.icon-cross:before {
    content: '\f2d3';
    font-family: FontAwesome;
}

.f12{
    font-size: 10px;
}

.available{
    color: #82caa5;
}

.reserved{
    color: #003151; 
}

.started{
    color: #fcb316;
}

.archived{
    color: #f91942;
}

.primary_bg{
    background-color: $btn_primary;
}

.primary_color{
    color: $btn_primary;
}


.pils{
    background-color: #416b38;
    color: #fff;
    display: initial;
    padding: 2px 7px;
    border-radius: 11px;
    font-size: 12px;
}
//Btn
.btn-primary{
    background-color: $btn_primary;
    border-radius: 20px;
    border-color: $btn_primary;
    cursor: pointer;
    box-shadow: 0px 2px 6px 1px rgba(27, 27, 27, 0.38);
}

.btn-primary:disabled{
    background-color: $btn_primary;
    border-color: $btn_primary;
    opacity: 0.6;
}
.icon-btn{
    color: $btn_primary !important;
}

.icon-btn:hover{
    color: #f5607c !important;
}


.btn-primary:hover{
    background-color: #f5284e;
    border-color: #f5607c;
}

.btn-round{
    width: 36px;
    height: 36px;
    padding: 5px;
}
.text-link{
    color: #171717;
    text-decoration: underline;
    cursor: pointer;
}

//Card
.card{
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.card-header{
    border-bottom: #ccc solid 1px;
    font-family: 'Roboto', sans-serif !important;
}
//fomr control

.form-control {
    background-clip: border-box;
    border-radius: 0px;
    border-width: 1px 0;
    background-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    padding-left:0px !important;;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0 transparent, 0 1px 0 #009688;
}

label{
    margin-bottom: 0px;
}