@import "scss/mixins/material-palette";
@import "scss/mixins/skinning";
@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/font-awesome/css/font-awesome.css";
@import "scss/theming";
@import "scss/custom-bootstrap";
@import "scss/core";
@import "../../../node_modules/angular-calendar/scss/angular-calendar.scss";
.transparentbtn{
    border: none;
    border-radius: 0px;
    background-color: transparent;
}
.cursor-pointer{
    cursor: pointer;
}

input[type="text"].ng-touched.ng-invalid , select.ng-touched.ng-invalid , textarea.ng-touched.ng-invalid{
    border: #ffabab solid 1px;
}

.tab-content{
    padding: 10px;
}

.theme-light .card .nav-tabs .nav-link.active, .theme-light .card .nav-tabs .nav-item.show .nav-link{
    border: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-bottom: #304ffe solid 2px !important;
}


.tagBtn{
    background-color: #ffffff;
    color: #304ffe;
    font-size: 20px;
    margin-left: 3px;
}

.tag {
    white-space: nowrap;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    cursor: default;
    background: #657780;
    border-radius: 3px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 9px;
    margin-right: 4px;
    margin-bottom: 2px;
    float: left;
    margin-left: 10px;
}

.tag .delete-tag{
    float: right;
    font-size: 13px;
    margin-top: -1px;
    margin-left: 4px;
    margin-right: -4px;
}

.icon-cross:before {
    content: '\f2d3';
    font-family: FontAwesome;
}

.f12{
    font-size: 10px;
}

.available{
    color: #82caa5;
}

.reserved{
    color: #003151;
}

.started{
    color: #fcb316;
}

.archived{
    color: #bc2031;
}