<!-- 
<div class="container-fluid-fluid-fluid">
    <div class="row">
      <div class="col-md-12">
     
      </div>
    </div>
</div> -->
<div class="container-fluid-fluid-fluid">
    <div class="row">
      <div class="col-md-12">
        
      <div class="card">
          <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle>Accessories List</ng-template>
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-header d-block ">
                            <div class="pull-left d-flex">
                                <label >Filter By Category : </label>
                                <select class="form-control" #filterCategory  (change)="selectedCategory(filterCategory)">
                                  <option *ngFor="let item of accessoriesCategoryList; let i=index;" [value]="i">{{item.categoryName}}</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary  pull-right btn-round" (click)="addNewAccessory()">
                              <i class="material-icons">add</i>
                            </button>
                        </div>
                        <div class="card-body p-0">
                          <ngx-datatable 
                            class="material"
                            [columnMode]="'force'"
                            [headerHeight]="40"
                            [footerHeight]="40"
                            [rowHeight]="'auto'"
                            [rows]="accessoriesList">
                            <ngx-datatable-column name="Name" prop="accessoryName">
                              <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                 {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Description" prop="description">
                              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Image" prop="logo">
                              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                <div class="ProfilePic" [ngStyle]="{'background': 'url('+imageUrl+'accessories/images/'+value+')'  }"></div>
                              </ng-template>
                            </ngx-datatable-column>
                            <!-- <ngx-datatable-column name="Stock" prop="branchCode" >
                              <ng-template let-value="value" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                                <div class="pils">{{value}}</div>
                              </ng-template>
                            </ngx-datatable-column> -->
                          
                            <ngx-datatable-column name="Edit" >
                              <ng-template let-value="value"  let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                                <span  class="fa fa-edit text-primary cursor-pointer" (click)="editProduct(row)"></span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Delete" >
                              <ng-template let-value="value"  ngx-datatable-cell-template>
                                <button   (click)="deleteProject()" class="transparentbtn"><i class="fa fa-trash text-primary cursor-pointer"></i></button>
                              </ng-template>
                            </ngx-datatable-column>
                          </ngx-datatable>
                        </div>
                      </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Accessories Category</ng-template>
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-header d-block">
                            <button type="button" class="btn btn-primary d-inline pull-right btn-round" routerLink="cat-new">
                              <i class="material-icons">add</i>
                            </button>
                        </div>
                        <div class="card-body p-0">
                          <ngx-datatable 
                            class="material"
                            [columnMode]="'force'"
                            [headerHeight]="40"
                            [footerHeight]="40"
                            [rowHeight]="'auto'"
                            [rows]="accessoriesCategoryList">
                            <ngx-datatable-column name="Name" prop="categoryName">
                              <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                 {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Description" prop="description">
                              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            
                            <ngx-datatable-column name="Edit" >
                              <ng-template let-value="value"  let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                                <span  class="fa fa-edit text-primary cursor-pointer" (click)="editCategoty(row.id)"></span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Delete" >
                              <ng-template let-value="value"  ngx-datatable-cell-template>
                                <button   (click)="deleteAccessory()" class="transparentbtn"><i class="fa fa-trash text-primary cursor-pointer"></i></button>
                              </ng-template>
                            </ngx-datatable-column>
                          </ngx-datatable>
                        </div>
                      </div>
                </ng-template>
              </ngb-tab>
              
            </ngb-tabset>
      </div>
        
      </div>
    </div>
  </div>
  
     