.center-div{
    margin: 0px auto;
    top: 80px;
    position: relative;
    text-align: center;
    cursor: pointer;
    left: 120px;
}
.wraper_upload{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
    position: relative;
}

.wraper_upload i{
    font-size: 60px;
    left: 46px;
    color: #929191;
    top: 40px;
    position: absolute;
}