<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3">
          <div class="card-header p-0 pb-2">
              <i class="material-icons">group_add</i><p class="m-0 pl-1" *ngIf="!editMode"> New City</p><p class="m-0 pl-1" *ngIf="editMode"> Update City</p>
          </div>
          <div class="card-body  p-0 pt-2 pb-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
            <div class="row">
              <form [formGroup]="city">
                  <div class="">
                    <div class="img_wraper ml-2 pull-right">
                      <label class="d-block">Product Image</label>
                      <label for="file" class="img-hover">
                        <div class="img-prop" *ngIf="image" [ngStyle]="{'background': 'url('+image+')'  }"></div>
                        <div class="img-prop" *ngIf="!image" [ngStyle]="{'background': 'url(../assets/images/placeholder.png)'  }"></div>
                      </label>
                    </div>
                    <input type="file" accept="image/*" (change)="onSelectImage($event)" name="file" class="form-control" hidden id="file">
                  </div>
                  <div class="">
                    <div class="clearfix"></div>
                    <fieldset >
                      <div class="form-group">
                        <label for="disabledSelect">City Name </label>
                        <input type="text" formControlName="cityName"  class="form-control" >
                      </div>

                      <button type="submit" [disabled]="!city.valid" class="btn btn-primary" (click)="saveCity()">Submit</button>
                    </fieldset>
                  </div>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
